<div class="container " >
    <h4>  {{questionsModel.resourceType}} </h4>
<form [formGroup]="questionFormGroup"  (ngSubmit)="onSubmit($event)" >
    <div formArrayName="questionFormArray">
        <div *ngFor="let question of questionFormArray.controls; index as i">
           <div>{{getQuestion(i).text}}</div> 
            <div [formGroupName]="i"  style="border: 1px solid blue; padding: 10px; width: 600px; margin: 5px;">
            <ng-container *ngIf="getQuestion(i).type== 'group';else inputTemp">
               
                    <div *ngFor="let q of question.controls; index as j">
                        <div>{{getSubQuestion(i, j).text}}</div>
                        <div [formGroupName]="j" >

                            <input [type]="getSubQuestion(i, j).type"  [id]="getSubQuestion(i, j).linkId" 
                            (change)="onchangeCheckBox($event, q)"
                            formControlName="answer">

                            <div class="error" *ngIf="q.get('answer').touched &&
                            q.invalid">
                                    Enter Answer
                            </div>
                        </div>
                    </div>         
                   
            </ng-container>

            <ng-template  #inputTemp>
                <input [type]="getQuestion(i).type" [id]="getQuestion(i).linkId"
                (change)="onchangeCheckBox($event, question)"
                formControlName="answer">
                <div class="error" *ngIf="question.get('answer').touched &&
                question.invalid">
                                    Enter Answer
                            </div>
            </ng-template>
        </div>
            </div>
        </div>
          <button type="submit" class="btn btn-primary" >Submit</button>
</form>
</div>
<hr>
<div *ngIf="submittedAnswers">
Submitted Answers 

<table>
<ng-container *ngFor=" let ans of submittedAnswers ">
    <tr><td>{{ans.answer}}</td></tr>
</ng-container>
</table>
</div>
