.container{
    margin-top: 40px;
    padding: 20px;
}


.error {
    color: red;
}

.greyContainer {
    background-color: lightgray;
}


.subSectionHeader{
    background-color: lightgreen;
}

.subSectionContent{
    margin-left:100px;
}

select, input {
    width:500px;
    margin: 10px;
}
